html{font-size: 12px;}
*{
    box-sizing: border-box;
    font-family:roboto;
    margin: 0;
}
body{
    font-size:1.5rem;

}
a{text-decoration:none;}
/*
.header {
    margin:0;
    height:100px;}


.container, .container-float {
    max-width:1440px;
    margin:0 auto;
    position:relative;
    height:100px;
    padding:10px 0;
}
    
.logo {
    position:absolute;
    top:30px;
    left:10px;
    margin:0;
    padding:0 0 0 20px;
    color:black;
}
.nav {
    text-align:right;
    margin-top: 50px;
    padding-right: 30px;
}

ul{list-style:none}

.nav-item{
    display:inline;
}

header a{
    color:black;
    padding:5px;
    font-size:1.5rem;
    font-weight:bold;
}

header a:hover{color:MediumAquaMarine}
*/
