@charset "utf-8";

/* 레이아웃 */
#header {width:100%; height: 63px;border-bottom: 1px solid #c6c6c6;background: rgba(0,0,0,0);}
#banner {position: relative;}
#room {background: #f8f8f8;}
#event {}
#opening {margin: 17px 0; background: url(../img/bg01.jpg) no-repeat center top; background-size: cover;}
#review {}
#help {}
#footer {background: #211f1f;}

/* 가운데 영역 */     
.container {position: relative; width: 1280px; margin: 0 auto; background: rgba(0,0,0,0); }

/* 로우 영역 */
.row {padding: 0 24px;}

/* 헤더 영역 */
.header h1 {float:left;}
.header h1 em {padding: 15px 8px 3px 0; display: inline-block;}
.header h1 em img {width: 155px; }
.header .nav {float: right}
.header .nav ul {border-left: 1px solid #c6c6c6;}
.header .nav ul li {float: left; width: 103px;text-align: center; border-right: 1px solid #c6c6c6;}
.header .nav ul li a {display: block; padding: 19px 10px; font-size: 17px; font-weight: 700; color:#444}
.header .nav ul li a:hover {color: #CB230C;}

/* 배너 */
.banner_menu {overflow: hidden; position: absolute; left: 0; top: 20px; width: 100%; height: 100px; z-index: 10;}
.banner_menu a {color: #fff; font-size: 16px; transition: all 0.3s;}
.banner_menu a:hover {color: #c1c1c1;}
.banner_menu .bm_left {float: left;}
.banner_menu .bm_left ul {padding-top: 7px;}
.banner_menu .bm_left li {display: inline; position: relative; margin-right: 30px;}
.banner_menu .bm_left li.total {margin-right: 20px;}
.banner_menu .bm_left li.total a {font-size: 14px; padding: 3px 10px; display: inline-block; border: 1px solid #fff; transition: all 0.3s;}
.banner_menu .bm_left li.total a:hover {background: #fff; border-color: #000; color: #000;}
.banner_menu .bm_right {float: right; overflow: hidden;}
.banner_menu .bm_right ul {float: left;}
.banner_menu .bm_right ul:first-child {padding-top: 7px;}
.banner_menu .bm_right li {position: relative; display: inline; text-align: center; margin-right: 20px;}
.banner_menu .bm_right li.line {margin-right: 30px;}
.banner_menu .bm_right li.white {margin-right: 10px;}
.banner_menu .bm_right li.white a {width: 80px; background-color: #fff; color: #CB230C; padding: 7px 30px 9px 30px; display: inline-block; border: 1px solid #fff;}
.banner_menu .bm_right li.red {margin-right: 0;}
.banner_menu .bm_right li.red a {width: 80px; background-color: #CB230C; color: #fff; padding: 7px 30px 9px 30px; display: inline-block; border: 1px solid #E68D80;}
.banner_menu li.line:after {content: ''; width: 1px; height: 14px; background: #fff; position: absolute; right: -18px; top: 2px;}

/* 슬라이드 */
.slider {width: 100%; height: 735px;}
.slider .ss1 {background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}
.slider .ss2 {background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}
.slider .ss3 {background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}
.slider .swiper-slide {}
.slider .swiper-slide h2 {position: relative; display: inline-block; font-size: 62px; line-height: 70px; color: #fff; margin-top: 200px;}
.slider .swiper-slide h2:after {content: ''; width: 100%; height: 1px; background: rgba(255,255,255,0.7); position: absolute; left: 0; bottom: -20px; }
.slider .swiper-slide h2 em {display: block; font-size: 59px; font-weight: 100;}
.slider .swiper-slide p {font-size: 27px; color: #fff; padding-top: 55px;}

/* 인증방 */
.room {padding: 100px 0;}
.room_title {margin-bottom: 60px;}
.room_title ul{overflow: hidden; width: 848px; margin: 0 auto;}
.room_title li{float: left; width: 210px; text-align: center; border: 1px solid #c4c4c4; margin-right: -1px;}
.room_title li a {display: block; padding: 15px 0; font-size: 18px; color: #666; font-weight: 700;}
.room_title li.active a {background: #666; color: #fff;}
.room_chart {height: 592px;}  
.room_chart > div {overflow: hidden;}
.room_chart > div > div {float: left; width: 292px; height: 592px; margin-right: 18px;}
.room_chart > div > div:last-child {margin-right: 0;}
.room_chart > div > div .poster {position: relative;}
.room_chart > div > div .poster img {display: block;}
.room_chart > div > div .poster .rank {position: absolute; top: 17px; left: 0; width: 50px; height: 50px; font-size: 22px; box-shadow: 3px 3px 8px rgba(0,0,0,0.5); line-height: 50px; background-color: #CB230C; text-align: center;}
.room_chart > div > div .poster .rank strong {color: #fff; text-shadow: 2px 2px 3px rgba(0,0,0,1);}
.room_chart > div > div .poster .mx {position: absolute; top: 17px; right: 17px;}
.room_chart > div > div .poster .mx span {width: 103px; height: 25px; display: block;}
.room_chart > div > div .poster .mx .dep05 {background-image: url(../img/icon_dep05.png); background-size: cover;}
.room_chart > div > div .poster .mx .dep10 {background-image: url(../img/icon_dep10.png); background-size: cover;}
.room_chart > div > div .poster .mx .dep15 {background-image: url(../img/icon_dep15.png); background-size: cover;}
.room_chart > div > div .poster .mx .dep20 {background-image: url(../img/icon_dep20.png); background-size: cover;}
.room_chart > div > div .infor {background: #fff; padding: 17px; border: 1px solid #d9d9d9;}
.room_chart > div > div .infor h3 {color: #333; font-size: 24px; font-weight: 700;margin-bottom: 20px;}
.room_chart > div > div .infor h3 strong {}
.room_chart > div > div .infor h3 span {width: 29px; height: 29px; display: inline-block; margin-top: 9px; margin-right: 3px; vertical-align: -5px;}
.room_chart > div > div .infor h3 span.cate_s{background-image: url(../img/icon_cate_s.png); background-size: cover;}
.room_chart > div > div .infor h3 span.cate_x{background-image: url(../img/icon_cate_x.png); background-size: cover;}
.room_chart > div > div .infor h3 span.cate_f{background-image: url(../img/icon_cate_f.png); background-size: cover;}
.room_chart > div > div .infor h3 span.cate_w{background-image: url(../img/icon_cate_w.png); background-size: cover;}
.room_chart > div > div .infor .infor_btn a {display: inline-block; background: #f2f2f2; font-size: 18px; padding: 15px 30px;}

/* 이벤트 */
.event {overflow: hidden; padding: 100px 0;}
.event img{display: block;}
.event h2 {font-size: 30px; font-weight: 500; margin-bottom: 20px; }
.event .event_left {overflow: hidden; float: left; width: 66%; margin-right: 2%;}
.event .event_left .event_box1 {float: left; width: 50%;}
.event .event_left .event_box2 {float: left; width: 50%;}
.event .event_right {float: left; width: 32%; height: 500px; background: #ccc;}

/* 오프닝 */
.opening {padding: 100px 0; text-align: center; color: #bb9b51;}
.opening h2 {margin-bottom: 15px;}
.opening h2 .grand {background-image: url(../img/icon_grand.png); background-size: cover; display: inline-block; width: 460px; height: 50px;} 
.opening .date {background-image: url(../img/icon_date.png); background-size: cover; display: inline-block; width: 231px;  height:45px;}
.opening .desc {font-size: 35px; font-weight: 300; padding-bottom: 20px; background: url(../img/bar.png) no-repeat bottom center; background-size: 100%;}
.opening .open_box {overflow: hidden; padding: 20px 3% 0 3;}
.opening .open_box > div {float: left; width: 27.333%; margin: 4% 3% 0 3%; box-sizing: border-box; background: rgba(0,0,0,0.5); border: 1px solid #D85543;}
.opening .open_box > div h3 {color: #fff; font-weight: 300; border: 1px solid #E68D80; margin-top: -24px; font-size: 19px; display: inline-block; padding: 10px 20px; background: #CB230C;}
.opening .open_box > div p {font-size: 23px; color: #fff; font-weight: 700; padding: 6% 0;}
.opening .open_box > div em {display: block; font-weight: bold;}
.opening .open_box > div strong {display: block; font-weight: bold;}

/* 인증방 후기 */
.review {padding: 100px 0; position: relative;}
.review h2 {font-size: 30px; font-weight: 500; margin-bottom: 20px;}
.review .review_left {position: relative; margin-right: 423px; height: 538px; background: #ccc url(../img/review01.jpg); background-size: cover;}
.review .review_left .play {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 120px; height: 120px;}
.review .review_left .play .st0 {fill: #fff; opacity: 0.3;}
.review .review_left .play .st1 {fill: #fff;}
.review .review_right {position: absolute; right: 0; top: 165px; width: 392px; height: 538px; padding: 34px; box-sizing: border-box; background: #f0f0f0;}
.review .review_right .title {font-size: 28px; color: #000;}
.review .review_right .release {font-size: 12px; color: #333;}
.review .review_right .heart {padding: 13px 0;}
.review .review_right .heart strong{font-size: 15px; padding-left: 5px;}
.review .review_right .heart span{display: inline-block; width: 20px; height: 20px; vertical-align: -20%;}
.review .review_right .heart .heart0 {background: url(../img/icon_heart_0.png); background-size: cover;}
.review .review_right .heart .heart1 {background: url(../img/icon_heart_1.png); background-size: cover;}
.review .review_right .heart .heart2 {background: url(../img/icon_heart_2.png); background-size: cover;}
.review .review_right .summary {font-size: 13px;}
.review .review_right .category {padding-bottom: 3px;}
.review .review_right .type {padding-bottom: 10px;}
.review .review_right .desc {height: 260px; overflow: hidden;}
.review .review_right .user_id {font-size: 12px; font-weight: 500; color: #333;}
.review .review_right .btn {overflow: hidden; margin-top: 2%; text-align: center;}
.review .review_right .btn a {float: left; width: 49%; box-sizing: border-box; display: block; padding: 10px 30px 12px 30px;}
.review .review_right .btn a.white {background-color: #fff; margin-right: 2%; color: #CB230C; border: 1px solid #CB230C;}
.review .review_right .btn a.red {background-color: #CB230C; color: #fff; border: 1px solid #E68D80;}

/* help */
.help {overflow: hidden; padding-bottom: 200px;}
.help article {float: left; width: 32%; margin-right: 2%; height: 350px;}
.help article > div {border: 1px solid #dbdbdb; height: 350px;}
.help article:nth-child(3) > div {height: 386px;}
.help article.help_box3 {margin-right: 0;}
.help article.help_box3 > div {border: 0;}
.help article h3 {font-size: 30px; font-weight: 500; margin-bottom: 20px;}

/* 공지사항 */
.notice {position: relative; padding: 17px;}
.notice ul {overflow: hidden;}
.notice ul li {float: left; text-align: center; margin-right: -1px;}
.notice ul li a {border: 1px solid #dbdbdb; font-size: 15px; color: #666; display: block; width: 80px; padding: 10px 20px; background-color: #f5f5f5;}
.notice ul li.active a {background: #fff; }
.notice ul li ul {position: absolute; left: 17px; top: 70px; width: 90%;}
.notice ul li ul li {width: 100%; box-sizing: border-box; text-align: left; padding: 17px; border-bottom: 1px solid #dbdbdb;}
.notice ul li ul li:last-child {border-bottom: 0;}
.notice ul li ul li dt em {color: #999; }
.notice ul li ul li dt .bar {position: relative; padding-right: 14px;}
.notice ul li ul li dt .bar:after {content: ''; position: absolute; right: 4px; top: 5px; width: 1px; height: 10px; background: #999;}
.notice ul li ul li dd {color: #777; padding-top: 3px;}
.notice ul li ul li a {border: 0; padding: 0; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* 할인카드 */
.card {padding: 17px;}
.card ul {}
.card ul li {position: relative; border: 1px solid #d7d7d7; padding: 17px; margin-bottom: 17px; min-height: 102px; box-sizing: border-box;}
.card ul li span {position: absolute; left: 17px; top: 17px;}
.card ul li span img {width: 105px; }
.card ul li strong {display: block; font-size: 18px; color: #777; padding-left: 120px;}
.card ul li em {display: block; font-size: 14px; color: #777; font-weight: 300; padding-left: 120px;}

/* 고객센터 */
.service {overflow: hidden;}
.service li {float: left; width: 50%; height: 193px; box-sizing: border-box; border: 1px solid #d7d7d7; text-align: center;}
.service li a span {display: block; width: 120px; height: 120px; margin: 20px auto 0 auto; overflow: hidden;}
.service li a strong {color: #666; font-size: 18px; font-weight: 500;}
.service li:nth-child(1) {border-right: 0; border-bottom: 0;} 
.service li:nth-child(2) {border-bottom: 0;} 
.service li:nth-child(3) {border-right: 0;} 

/* 푸터 */
.footer_sns {position: absolute; right: 30px; top: 33px; z-index: 1;}
.footer_sns li {display: inline-block;}
.footer_sns li a {display: block; width: 36px; height: 36px;}
.footer_sns li.s1 {background: url(../img/icon_sns_t2.png); background-size: cover; }
.footer_sns li.s2 {background: url(../img/icon_sns_f2.png); background-size: cover; }
.footer_sns li.s3 {background: url(../img/icon_sns_i2.png); background-size: cover; }
.footer_sns li.s4 {background: url(../img/icon_sns_g2.png); background-size: cover; }
.footer_sns li.s5 {background: url(../img/icon_sns_a2.png); background-size: cover; }
.footer_sns li.s1:hover {background: url(../img/icon_sns_t1.png); background-size: cover; }
.footer_sns li.s2:hover {background: url(../img/icon_sns_f1.png); background-size: cover; }
.footer_sns li.s3:hover {background: url(../img/icon_sns_i1.png); background-size: cover; }
.footer_sns li.s4:hover {background: url(../img/icon_sns_g1.png); background-size: cover; }
.footer_sns li.s5:hover {background: url(../img/icon_sns_a1.png); background-size: cover; }
.footer_sns .tel {text-align: right; padding-top: 5px; }
.footer_sns .tel a {color: #8f8f8f; font-size: 21px;}
.footer_sns .tel a em {color: #fff;}
.footer_info {padding: 50px 0; width: 80%; }
.footer_info ul {padding: 15px 0;}
.footer_info li {position: relative; display: inline; padding-right: 16px; white-space: nowrap}
.footer_info li:after {content: ''; position: absolute; right: 5px; top: 5px; width: 1px; height: 11px; background-color: #8f8f8f;}
.footer_info li:last-child:after {width: 0; height: 0;}
.footer_info h2 img {width: 150px;}
.footer_info li a {color: #8f8f8f;}
.footer_info address p {color: #8f8f8f; padding-bottom: 15px;}